body {
  font-family: "Barlow", sans-serif;
}

h1, h2 {
  font-family: "Fraunces", serif;
}

@media (max-width: 767px) {
    #hero {
      background-image: url('./images/desktop/image-header.jpg') !important;
    }
  }